html,
body {
    margin: 0;
    padding: 0;
    background-color: #000c36;
    color: #ffffff;
}

/*
Colors
#ffffff white
#3B4877 BLUE textarea background
#000C36 black text
#05060C black input text
#51E08A GREEN

Fonts
"Carter One" by Google Fonts
"Roboto Slab" by Google Fonts

*/
